.MovieCard {
    border: 2px solid; 
    height: fit-content;
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }


  .MovieCard >p{
    font-size: var(--font-medium);
  }
  
  .MovieCard img {
    width: 300px;
    height: 400px;
    margin-bottom: 10px;
    border-radius: 50px;
  }
  
 