.CatList {
	
}

.CatList .cards-display{
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.CatList .cards-display>*{
    margin:20px;
}
