 .UserCard {
   
    border: 2px solid; 
    height: fit-content;
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
	
.UserCard p {
    font-size: var(--font-medium);
}