.Menu {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}

.Menu >*{
    margin:5px;
}

.Menu a{
    font-weight: 300;
    text-decoration: none;
    
}

a:hover{
   
    text-decoration: underline;
    font-size: 26px;
}
