@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color:#000000;
  --secondary-color:#6db33f;
  background-color: #ffffff;
}

.light{
  --primary-color:#000000;
  --secondary-color:#6db33f;
  --background-color:#ffffff;
}

.dark{
  --primary-color:#ffffff;
  --secondary-color:#6db33f;
  --background-color:#000000;
}

body {
  margin: 0;
  font-family: 'Poppins';
  font-size:10px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root{
  height:100%;
  width: 100%;
  padding:0px;
  margin:0px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

}
